@import '~antd/es/style/themes/default.less';

.container {
  height: 100vh;
  display: flex;
  min-width: 1000px;
}

.decorate {
  flex: 1;
  height: 100%;
  background: #f9f7fe;  
  position: relative;
  &_square {
    position: absolute;
    top: 10px;
    left: 4px;
    width: 32%;
    height: 174px;
    background: url('~@/assets/image/decorate_square.png') no-repeat left top;
    background-size: contain;
  }
  &_top {
    position: absolute;
    top: 0;
    right: 0;
    width: 36%;
    height: 166px;
    background: url('~@/assets/image/decorate_top.png') no-repeat right top;
    background-size: contain;
  }
  &_main {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: 100%;
    background: url('~@/assets/image/decorate_main.png') no-repeat center;
    background-size: contain;
    transform: translate(-50%, 0);
  }
  &_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 38%;
    height: 239px;
    background: url('~@/assets/image/decorate_bottom.png') no-repeat left bottom;
    background-size: contain;
  }
}

.content {
  flex: 1;
}

.lang {
  width: 100%;
  height: 40px;
  line-height: 44px;
  text-align: right;
  :global(.ant-dropdown-trigger) {
    margin-right: 24px;
  }
}


.content {
  flex: 1;
  padding: 64px 0;
}

@media (min-width: @screen-md-min) {
  .content {
    padding: 166px 0;
  }
}

.top {
  text-align: center;
}

.header {
  margin-bottom: 60px;
  > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  height: 32px;
  margin-right: 6px;
  vertical-align: top;
}

.title {
  position: relative;
  opacity: 1;
  font-size: 28px;
  font-family: PingFangSC, PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  color: #703beb;
  line-height: 40px;
}

.desc {
  margin-top: 12px;
  margin-bottom: 40px;
  color: @text-color-secondary;
  font-size: @font-size-base;
}

.main {
  width: 362px;
  margin: 0 auto;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
    max-width: 328px;
  }

  :global {
    .@{ant-prefix}-tabs-nav-list {
      margin: auto;
      font-size: 16px;
    }
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;
    .register {
      float: right;
    }
  }

  .prefixIcon {
    color: @primary-color;
    font-size: @font-size-base;
  }
}

