@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.ant-btn {
  border: none;
}

.button {
  min-width: 68px;
  border-radius: 4px;
}

// 成功按钮
.success-button {
  background-color: #52c79a;
  &:hover,
  &:focus,
  &:visited {
    background-color: #4de1b5;
  }
}

// 警告按钮
.warning-button {
  background-color: #ffba34;
  &:hover,
  &:focus,
  &:visited {
    background-color: #faa03a;
  }
}

// 危险按钮
.danger-button {
  background-color: #f15f57;
  &:hover,
  &:focus,
  &:visited {
    background-color: #f32a1f;
  }
}

.tag {
  display: inline-block;
  min-width: 68px;
  font-weight: 500;
  font-size: @font-size-base;
  font-family: PingFangHK, PingFangHK-Medium;
  line-height: 32px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

// 启用标签
.enabled-tag {
  color: #52c79a;
  border: 1px solid #b9ecd9;
}

// 禁用标签
.disabled-tag {
  color: #F15F57;
  border: 1px solid #FFC8CE;
}
